

<%= render 'books/list', book: @book %>



<% @books.each do |book| %>
  <h2>Books</h2>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Oponion</th>
        <th coispan="3"></th>
      </tr>
    </thead>
    <tbody>
      <td><% book.user %></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    </tbody>
  </table>
<% end %>

