<div class="row">
  <div class="mt-4 mb-4 bg-light d-inline-block">
    <h4 class="px-2 pt-2 bg-gray">注文情報確認</h4>
  </div>
</div>
<div class="row">
  <div class="col-9">
    <table class="table table-hover table-inverse table-bordered">
      <thead class="bg-light">
        <tr class="">
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>

          <tr class="">
            <td>
              imege
              <span> </span>
              namae
            </td>
            <td class="align-middle">aaa</td>
            <td class="align-middle">aaa</td>
            <td class="align-middle">aaa</td>
          </tr>
          aaaa
      </tbody>
    </table>
  </div>
  <div class="col-3 d-flex">
    <table class="table table-sm table-bordered align-self-end">
      <tbody>
        <tr class="">
          <td class="bg-light">送料</td>
          <td>800</td>
        </tr>
        <tr class="">
          <td class="bg-light">商品合計</td>
          <td>qqq</td>
        </tr>
        <tr class="">
          <td class="bg-light">請求金額</td>
          <td>qqq</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row mt-5">
  <div class="offset-2 col-6">
    <div class="row mt-3">
      <strong class="">　支払い方法　</strong>
      <span class="">qqqq</span>
    </div>
    <div class="row mt-3">
      <strong class="">　お届け先　</strong>
      <span class="">〒qqq</span>
    </div>
  </div>
</div>
